//---------Colors------------------
$C-black: #121212;
$C-white: #F2F2F2;
$C-lightGrey: #EFF9F0;
$C-primary: #BB86FC;
$C-secondary: #CA65FF;
$C-tertiary: #6E24FF;

//---------Goutierres---------------
$G-side: 2rem;

//---------FONTS-------------------
$F-path: '../fonts/';
$F-Lato: Lato, sans-serif;
$F-Oswald: Oswald, sans-serif;

//========================FONT WEIGHT=======================
$FW-thin: 100;
$FW-light: 300;
$FW-normal: 400;
$FW-medium: 500;
$FW-semibold: 600;
$FW-bold: 700;
$FW-extrabold: 800;
$FW-black: 900;
